<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="de-DE"/>
    <compilation debug="true" targetFramework="4.0" defaultLanguage="C#" />
    <customErrors mode="On">
      <error statusCode="404" redirect="/404.aspx" />
    </customErrors>
    <httpRuntime maxRequestLength="30000" requestValidationMode="2.0" executionTimeout="900000000" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <remove value="Default.asp" />
        <remove value="index.htm" />
        <remove value="index.html" />
        <remove value="default.html" />
        <remove value="iisstart.htm" />
        <remove value="default.aspx" />
        <remove value="index.php" />
        <remove value="Default.htm" />
        <add value="index.aspx" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="noreply@mirzairtiza.com">
        <network host="secure.emailsrvr.com" enableSsl="true" port="2525" userName="noreply@mirzairtiza.com" password="pwd" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
